body{background-color: #e9caca;}
 .navbar {
      margin-bottom: 0;
      border-radius: 0;

    }
    .navbar-custom{
      color: #8cb3d9;
      background: #bf4040;
    }
    .nav.navbar-nav.navbar-right li a {
    color: white;
}

    
    /* Add a gray background color and some padding to the footer */
  footer {
      background-color: gray;
      padding: 25px;
    }
    
.carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 500px) {
    .carousel-caption {
      display: none; 
    }
  }

.iconHeading{
  text-align: center;
}

.iconHeading span{
  font-size: 55px;
}

.head4 {
  background-color: pink;

}
